results/geth/results-geth.tar.gz filter=lfs diff=lfs merge=lfs -text
results/besu/results-besu.tar.gz filter=lfs diff=lfs merge=lfs -text
results/erigon/results-erigon.tar.gz filter=lfs diff=lfs merge=lfs -text
